<html>
  <head>
    <title>Danni Dines</title>
    <link rel="stylesheet" href="..\static\styles\logs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <nav>
        <ul>
            <li><a href="index.html"><span>Home</span></a></li>
            <li><a href="logs.html"><span>Logs</span></a></li>
            <li><span>List</span></li>
            <li><span>Beyonce</span></li>
            <button id="musicButton">&#9835;</button>
        </ul>
    </nav>
    
    <div id="overlayContainer">
        <div id="overlay">
            <button class="closeButton" onclick="off()">&#215;</button>
            <form action="/create" method="post" enctype="multipart/form-data" id="form">
                <label for="restaurant">Restaurant</label><br>
                <input type="text" name="restaurant" id="restaurant" required><br>
                <label for="review">Review</label><br>
                <textarea type="text" name="review" placeholder="Write your review here..." id="review" required></textarea><br>
                <label for="rating">Rating</label>
                <div class="star-wrap">
                    <input class="star" checked type="radio" value="-1" id="skip-star" name="star-radio" autocomplete="off" />
                    <label class="star-label hidden"></label>
                    <input class="star" type="radio" id="st-1" value="1" name="star-radio" autocomplete="off" />
                    <label class="star-label" for="st-1">
                        <div class="star-shape"></div>
                    </label>
                    <input class="star" type="radio" id="st-2" value="2" name="star-radio" autocomplete="off" />
                    <label class="star-label" for="st-2">
                        <div class="star-shape"></div>
                    </label>
                    <input class="star" type="radio" id="st-3" value="3" name="star-radio" autocomplete="off" />
                    <label class="star-label" for="st-3">
                        <div class="star-shape"></div>
                    </label>
                    <input class="star" type="radio" id="st-4" value="4" name="star-radio" autocomplete="off" />
                    <label class="star-label" for="st-4">
                        <div class="star-shape"></div>
                    </label>
                    <input class="star" type="radio" id="st-5" value="5" name="star-radio" autocomplete="off" />
                    <label class="star-label" for="st-5">
                        <div class="star-shape"></div>
                    </label>
                </div>
                <label for="picture">Upload pictures</label><br>
                <input type="file" name="images" id="picture" accept="image/png" multiple><br>
                <input type="date" name="visited_date" placeholder="Visited Date"><br>
                <div id="submitButton">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

    <div id="header">
      <p>Dines</p>
      <button onclick="on()" id="logDine">Log Dine</button>
    </div>
    
    <div id="logsContainer">
        {% for review in data %}
        <div class="log" onclick="window.location.href='{{ url_for('review', review_id=review['id']) }}';"">
          <div class="imageBox">
            <img src="{{  review['image_url'][0] }}">  
          </div>
        <p id="logTitle">{{ review['restaurant'] }}</p> 
        <p id="logStars">
            {% if review['rating']==1 %}
              &#9733;&#9734;&#9734;&#9734;&#9734;
            {% elif review['rating']==2 %}
              &#9733;&#9733;&#9734;&#9734;&#9734;
            {% elif review['rating']==3 %}
              &#9733;&#9733;&#9733;&#9734;&#9734;
            {% elif review['rating']==4 %}
              &#9733;&#9733;&#9733;&#9733;&#9734;
            {% elif review['rating']==5 %}
              &#9733;&#9733;&#9733;&#9733;&#9733;
            {% else %}
              &#9734;&#9734;&#9734;&#9734;&#9734;
            {% endif %}
        </p>
        <p id="logCaption">Visited On: {{ review['visited_date'] }}</p>
        </div>
        {% endfor %}
    </div>

    <script src="../static/js/script.js"></script>

  </body>
</html>