<!DOCTYPE html>
<html>
<head>
    
</head>

<body>
    <h1>{{ data[0] }}</h1>
    <h2>{{ data[1] }}</h2>
    <p>Rating:
        {% if data[2]==1 %}
            &#9733;&#9734;&#9734;&#9734;&#9734;
        {% elif data[2]==2 %}
            &#9733;&#9733;&#9734;&#9734;&#9734;
        {% elif data[2]==3 %}
            &#9733;&#9733;&#9733;&#9734;&#9734;
        {% elif data[2]==4 %}
            &#9733;&#9733;&#9733;&#9733;&#9734;
        {% elif data[2]==5 %}
            &#9733;&#9733;&#9733;&#9733;&#9733;
        {% else %}
            &#9734;&#9734;&#9734;&#9734;&#9734;
        {% endif %}
    </p>
    <p>Visited on: {{ data[3] }}</p>
    <p>Logged on: {{ data[4] }}</p>
    <div>
    {% for image in data[5:] %}
        <img src="{{ image[0] }}">
    {% endfor %}
    </div>
</body>
</html>